.resume {
  margin: 0;
}

.header-main {
  background-image: url("http://asia.olympus-imaging.com/content/000072751.jpg");
  display: flex;
}

.profile-img {
  text-align: center;
  align-self: center;
}

.profile-img img {
  width: 30%;
  height: 80%;
}